.purple-border textarea {
    border: 1px solid #ba68c8;
}
.purple-border .form-control:focus {
    border: 1px solid #ba68c8;
    box-shadow: 0 0 0 0.2rem rgba(186, 104, 200, .25);
}

.green-border-focus .form-control:focus {
    border: 1px solid #8bc34a;
    box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, .25);
}

.btn-purple{
    background-color: mediumpurple;
}

.email{
  width: 140%;
}

.wrapper {
    min-height: 100%;
}

.form-gap {
    padding-top: 70px;
    /* margin: 20%; */
}

.modal-dialog {
    margin-top: 20%;
}

/* .container {
    margin: 100px;
} */

html, body {
    height: 100%;
    margin: 0;
}

/* li:hover ul {
    display: inline-block;
    position: absolute;
    left: 0px;
    padding: -1 px;
 } */

 /* .dropdown-menu{
    min-width: -1rem;
    position: absolute;
  } */

.figure {
    max-width: 80%;
    display: block;
    margin: 0 auto;
    margin-left: 10%;
    margin-bottom: 1%;
}



input:invalid {
    box-shadow: 0 0 5px 1px red;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #8064A2 !important;
}
.btn-primary:hover{
    background-color: black !important;
}

.step2 {
    padding: 15px 20px 8px 20px;
}

.step3 {
    margin: 0;
}

.other-policy {
    padding: 10px 0;
}
.progress-bar {
    background-color: #0275d8 !important;
}
.con-width {
    /* height: 100px; */
}

#submitbutton:disabled {
    opacity: 0.5;
}

.video {
    padding-left: 7%;
    /* padding-right: 7%; */
    width: auto;
    height: auto;
}

.jumbotron{
    background-color:mediumpurple !important;
    opacity: 70%;
    text-align: center;
    color: rgb(46, 3, 71);
}


/* for testing purposes */
    ul.navbar-nav{
        font-weight: bolder;
    }

.nav-item.active .nav-link{
    color: black !important;
    background-color: lightpink;
}
.nav-item:hover .nav-link{
    color: rgb(46, 3, 71);
    background-color: mediumslateblue;
}


h2 {
    font-family: Arial, Verdana;
    font-weight: 800;
    font-size: 2.5rem;
    color: #091f2f;
    text-transform: uppercase;
}
.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: #f4f4f4;
    padding: 0;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-style: italic;
    font-size: 1.5rem;
}
.accordion-section .panel-default .panel-title a:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 3rem;
    content: "\f106";
    color: #9370db;
    float: right;
    margin-top: -12px;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f107";
}
.accordion-section .panel-default .panel-body {
    font-size: 1.2rem;
}


.panel-heading {
    position: relative;
}
.panel-heading[data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    content: "\e072"; /* "play" icon */
    position: absolute;
    color: #b0c5d8;
    font-size: 18px;
    line-height: 22px;
    right: 20px;
    top: calc(50% - 10px);

    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(-90deg);
    -moz-transform:    rotate(-90deg);
    -ms-transform:     rotate(-90deg);
    -o-transform:      rotate(-90deg);
    transform:         rotate(-90deg);
}
.panel-heading[data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform:    rotate(90deg);
    -ms-transform:     rotate(90deg);
    -o-transform:      rotate(90deg);
    transform:         rotate(90deg);
}
