
body {
  background: url("../images/background.png");
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  background-color: #FFFFFF;
  -webkit-box-shadow: -1px 6px 12px 0px rgba(207,207,207,0.82);
  -moz-box-shadow: -1px 6px 12px 0px rgba(207,207,207,0.82);
  box-shadow: -1px 6px 12px 0px rgba(207,207,207,0.82);
  font-size: 20px;
}

/* always have some space below the content so that we can scroll properly*/
.main-content {
  margin-bottom: 10%;
  padding: 50px;
}

input[type=radio] {
  box-sizing: border-box;
}

.row {
  margin-bottom: 8px;
  margin-left: 0;
}

.card{
  border-radius: 8px;
  padding: 20px;
  display: block;
  vertical-align: middle;
  font-size: 19px;
  width: 100%;
}

.card-header{
  text-align: center;
}

.card-main {
  background-color: #FFFFFF;
  border-color:#c8c8c8;
  padding: 0;
}

.card-text {
  margin-top: 0;
}

.form-group {
  text-align: left;
  margin-left: 30%;
}

.hidden {
  display: none !important;
}

.horizontal-padding{
  padding-left: 5px;
  padding-right: 5px;
}

.scrollable {
  width: 105%; /*card has padding*/
  overflow-y: auto;
  max-height: 120px;
  padding: 0;
}

.new-user {
  font-size: 80%;
  margin: 0;
  padding: 0;
}

/*
Main page table
 */
.table > tbody > tr:first-child > td {
  border: none;
}


.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  background: #bbb;
  z-index: 2;
  height: 20px;
}

/*
Buttons
*/

/* custom button color */
.btn-lilac{color:#fff;background-color:#c8a8ed;border-color:#c8a8ed}

.btn-lilac:hover{color:#fff;background-color:#c8a8ed;border-color:#c8a8ed}
.btn-lilac:focus,.btn-primary.focus{box-shadow:0 0 0 .2rem #c8a8ed}
.btn-lilac.disabled,
.btn-lilac:disabled{color:#fff;background-color:#c8a8ed;border-color:#c8a8ed}
.btn-lilac:not(:disabled):not(.disabled):active,
.btn-lilac:not(:disabled):not(.disabled).active,
.show>.btn-lilac.dropdown-toggle{color:#fff;background-color:#c8a8ed;border-color:#000}
.btn-lilac:not(:disabled):not(.disabled):active:focus,
.btn-lilac:not(:disabled):not(.disabled).active:focus,
.show>.btn-lilac.dropdown-toggle:focus{box-shadow:0 0 0 .2rem #c8a8ed}

.btn-outline-lilac{color:#000;background-color:transparent;background-image:none;border-color:#c8a8ed}
.btn-outline-lilac:hover{color:#000;background-color:#c8a8ed;border-color:#c8a8ed}
.btn-outline-lilac:focus,
.btn-outline-lilac.focus{box-shadow:0 0 0 .2rem #c8a8ed}
.btn-outline-lilac.disabled,
.btn-outline-lilac:disabled{color:#c8a8ed;background-color:transparent}
.btn-outline-lilac:not(:disabled):not(.disabled):active,
.btn-outline-lilac:not(:disabled):not(.disabled).active,
.show>.btn-outline-lilac.dropdown-toggle{color:#fff;background-color:#c8a8ed;border-color:#c8a8ed}
.btn-outline-lilac:not(:disabled):not(.disabled):active:focus,
.btn-outline-lilac:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-lilac.dropdown-toggle:focus{box-shadow:0 0 0 .2rem #c8a8ed}
/* end custom button color */

.navBtn{
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  border: transparent;
}


.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

button:disabled {
  cursor: not-allowed;
}


textarea {
  font-family: 'Montserrat', sans-serif;
  width:100%;
}


.logo {
  width: auto;
  height: 50px;
  padding: 5px;
}


