# For the database
sqlite.db

# vim related
Session.vim

# related to virt env openFraming
openFraming

# py cache and swap files
*.pyc
*.swp

# Python/mypy related
__pycache__/
.mypy_cache/

instance/

.pytest_cache/
.coverage
htmlcov/

.idea

dist/
build/
*.egg-info/
