# For the database
sqlite.db

# vim related
Session.vim

# related to virt env openFraming
openFraming

# py cache and swap files
*.pyc
*.swp

__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

.idea

dist/
build/
*.egg-info/
