.purple-border textarea {
    border: 1px solid #ba68c8;
}
.purple-border .form-control:focus {
    border: 1px solid #ba68c8;
    box-shadow: 0 0 0 0.2rem rgba(186, 104, 200, .25);
}

.green-border-focus .form-control:focus {
    border: 1px solid #8bc34a;
    box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, .25);
}

.btn-purple{
    background-color: mediumpurple;
}

.email{
  width: 140%;
}

.wrapper {
    min-height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
}



input:invalid {
    box-shadow: 0 0 5px 1px red;
}

#submitbutton:disabled {
    opacity: 0.5;
}
