<html>
<head>
  <!-- STYLES -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
        integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" href="images/openframing.png" type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  <!-- CDNS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gojs/1.8.2/go-debug.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <!-- LOCAL FILES -->
<!--  <script type="module" src="../js/client.js"></script>-->
<!--  <script type="module" src="../js/step4.js"></script>-->

  <title>Open Framing</title>
</head>

<body>

<!--  Choose Input Section  -->
<div class="main-content container">
  <div class="row">
    <div id="framing-main" class="col-md-12">
      <div class="card card-main">
        <div class="card-body">
          <p class="new-user">
            If you are satisfied with the performance of the frame classification model trained from
            <strong>Step 4</strong>, you can now take the last step to use the trained model to predict
            all the remaining unlabeled data.
          </p>
        </div>
      </div>
      <br>
      <div id="policy-issue5" class="card card-main">
        <div class="card-header">
          Select a Pre-Trained Policy Issue
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm">
              Please select one of our pretrained policy issue models that corresponds to your document.
            </div>
          </div>
          <div class="row">
            <div class="col-sm policy-radio">
              <form>
                <input type="radio" id="gunviolence" name="policyissue" value="gunviolence">
                <label for="gunviolence">Gun Violence</label><br>

                <input type="radio" id="immigration" name="policyissue" value="immigration">
                <label for="immigration">Immigration</label><br>

                <input type="radio" id="tobacco" name="policyissue" value="tobacco">
                <label for="tobacco">Tobacco</label><br>

                <input type="radio" id="samesexmarriage" name="policyissue" value="samesexmarriage">
                <label for="samesexmarriage">Same-sex Marriage</label><br>
              </form>
            </div>
          </div>
          <div class="row"><div class="col-sm" style="text-align: center"><strong>- OR -</strong></div></div>
          <div class="row">
            <div class="col-sm">
              If you trained a new policy issue on our system, retrieve it's ID from your confirmation email to use that
              model instead.
            </div>
          </div>
          <div class="spacer"></div>
          <div class="row">
            <label style="margin-right: 10px;">ID: </label>
            <input type="text" id="pi-id" name="pi-id" value=""><br>
          </div>
        </div>

        <div class="card-footer text-right"></div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
