--find-links https://download.pytorch.org/whl/torch_stable.html
flask-cors==3.0.8
ipdb==0.13.2
gunicorn==20.0.4
scikit-learn==0.23.1
Flask==1.1.2
wheel==0.34.2
fakeredis==1.4.1
flask-restful==0.3.8
nltk==3.5
transformers==2.11.0
gensim==3.8.3
xlrd==1.2.0
rq==1.4.2
scikit-learn==0.23.1
pandas==1.0.5
openpyxl==3.0.4
nltk==3.5
typing-extensions==3.7.4.2
torch==1.5.0+cpu
torchvision==0.6.0
typing-extensions==3.7.4.2
peewee==3.13.3
